/* Define slide-in and slide-out animations */
.slide-in {
  animation: slideIn 0.5s ease forwards;
}

.slide-out {
  animation: slideOut 0.5s ease forwards;
}

/* Keyframes for slide-in animation */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

/* Keyframes for slide-out animation */
@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateX(0%);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}
